@import "../../styles//variables.scss";

.plan-container{
    width: 100vw;
    height: 88vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffff;
}

    .plan-center-container{
        width: 75%;
        height: 85%;


        .plan-center-top-container{
            width: 100%;
            height: 10%;
            display: flex;
            align-items: start;
            justify-content: space-between;

            >.buttons-container{
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: start;
                
                button{
                    background-color: transparent;
                    border: none;
                    font-size: 1.5rem;
                    height: 22%;
                    display: flex;
                    align-items: center;
                    svg{
                        path{
                            fill:black
                        }
                    }
                }
               
            }
            h2{
                font-size: 1.4rem;
                font-weight: 400;
                color:$color_text1
            }
        }

        .plan-center-bottom-container{
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .plan-image-container{
                width:40%;
                height: 90%;
                display: flex;
                align-items: start;
        
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                

                }
            }
            .plan-info-container{
                width: 50%;
                height: 100%;
     
                display: flex;
                flex-direction: column;
                row-gap: 3%;

                h3{
                    font-size:2.5rem;
                    font-weight: 400;
                    line-height: 3.5rem;
                }

                h4{
                    font-size:2.2rem;
                    font-weight: 400;
                    line-height: 3rem;
                    margin-bottom: 2%;
                }
                h5{
                    font-size:2.2rem;
                    font-weight: 400;
                    line-height: 3rem;
                    margin-bottom: 2%;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                    font-weight: lighter;
                    color:$color_text1
                }
                >button{
                    width: 100%;
                    height: 10%;
                    background-color: $color_orange;
                    color:#ffff;
                    border: none;
                    border-radius: 6px;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                .button-transparent{
                    background-color: transparent;
                    color:$color_orange;
                    border: solid 2px $color_orange;
                }
            }
        }
    }


    @media screen and (max-width: 678px) {

        .plan-container{
      
            height:fit-content;
            padding-top: 9vh;
         
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#ffff;
        }
        
            .plan-center-container{
                width: 100%;
                height: 85%;
        
        
                .plan-center-top-container{
                    width: 100%;
                    height: 10vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
        
                    >.buttons-container{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        button{
                            background-color: transparent;
                            border: none;
                            font-size: 1.5rem;
                            height: 22%;
                            display: flex;
                            align-items: center;
                            svg{
                                path{
                                    fill:black
                                }
                            }
                        }
                       
                    }
                    h2{
                        font-size: 1.4rem;
                        font-weight: 400;
                        color:$color_text1
                    }
                }
        
                .plan-center-bottom-container{
                    width: 100%;
                    height:fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    row-gap: 4vh;
        
                    .plan-image-container{
                        margin: 0 auto;
                        aspect-ratio: 1;
                        width:60%;
                        height: auto;
                        display: flex;
                        align-items: start;
                        img{
                            object-fit: cover;
                            width: 100%;
                            aspect-ratio: 1;
                        
        
                        }
                    }
                    .plan-info-container{
                        margin: 0 auto;
                        padding-bottom: 10vh;
                        width:80%;
                        height: fit-content;
                        display: flex;
                        flex-direction: column;
                        row-gap: 2vh;
        
                        h3{
                           
                            font-size:2.4rem;
                            font-weight: 400;
                            line-height: 3.5rem;
                        }
        
                        h4{
                        
                            font-size:2.2rem;
                            font-weight: 400;
                            line-height: 3rem;
                            margin-bottom: 2%;
                        }
                        h5{
                            margin-top: 5vh;
                            font-size:2.2rem;
                            font-weight: 400;
                            line-height: 3rem;
                            margin-bottom: 2%;
                        }
                        p{
                            font-size: 1.6rem;
                            line-height: 2.5rem;
                            font-weight: lighter;
                            color:$color_text1
                        }
                        >button{
                            width: 100%;
                            height:7.5vh;
                            background-color: $color_orange;
                            color:#ffff;
                            border: none;
                            border-radius: 6px;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                        .button-transparent{
                            background-color: transparent;
                            color:$color_orange;
                            border: solid 2px $color_orange;
                        }
                    }
                }
            }



    }