@import "../../styles//variables.scss";

.test-result-container{
    width: 100vw;
    height: 88vh;
    background-color:#FBEBD6;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.test-result-center-container{
    background-color: $color_background;
    width: 70%;
    height: 80%;
    border-radius: 30px;
    border: solid 2px $color_orange;
    display: flex;
    justify-content: space-between;

    >.internal-container{
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5%;
        text-align: center;

        h2{

            color:$color_orange;
            font-size: 1.6rem;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 2%;
        }

        h3{
            color:$color_text2;
            font-family: $font_titles;
            font-size: 4rem;
            font-weight: 400;
            margin-bottom: 2%;
        }
        p{
            font-size: 1.5rem;
            line-height: 2.5rem;
            color:$color_text1;
        margin-left: 5%;
        margin-right: 5%        }

        >button{
            width: 70%;
            height: 8%;
            background-color: $color_orange;
            color:#ffff;
            border: none;
            border-radius: 6px;
            font-size: 1.5rem;
            font-weight: 600;
        }
        >.button-transparent{
            background-color: transparent;
            color:$color_orange;
            border: solid 2px $color_orange;
        }

        h4{
            font-size: 2rem;
            font-weight: 400;
        }
        ul{
            list-style: none;
            font-size: 1.5rem;
            color:$color_text1;
            line-height: 3.5rem;
            li{
                border-bottom: solid 1px rgba($color: gray, $alpha: 0.5);
            }
            
        }
        h5{
            font-size: 4.5rem;
            color:$color_orange;
            font-weight: 600;
            text-align: center;
        }
        h6{
            margin-top: 2vh;
            font-size: 2rem;
            color:$color_orange;
            font-weight: 600;
            text-align: center;
        }
        >.bottom-container{
            border-top: solid 1px rgba($color: gray, $alpha: 0.5);
            width: 80%;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 5rem;
            color:$color_text1;
            text-decoration: underline;
            display: flex;
            justify-content: space-between;
            >span{
                cursor: pointer;
            }
        }
    }
 
}


@media screen and (max-width: 678px) {

    .test-result-container{
        padding-top: 15vh;
        padding-bottom: 10vh;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .test-result-center-container{
        background-color: $color_background;
        padding-top: 10vh;
        width: 80%;
        height: fit-content;
        border-radius: 30px;
        border: solid 2px $color_orange;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        justify-content: space-between;
    
        >.internal-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 3vh;
            text-align: center;
    
            h2{
    
                color:$color_orange;
                font-size: 1.8rem;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 2%;
            }
    
            h3{
                color:$color_text2;
                font-family: $font_titles;
                font-size: 3rem;
                font-weight: 400;
                margin-bottom: 2%;
                margin-left: 5%;
                margin-right: 5%;
            }
            p{
                font-size: 1.5rem;
                line-height: 2.5rem;
                color:$color_text1;
            margin-left: 5%;
            margin-right: 5%        }
    
            >button{
                width: 90%;
                height: 7vh;
                background-color: $color_orange;
                color:#ffff;
                border: none;
                border-radius: 6px;
                font-size: 1.5rem;
                font-weight: 600;
            }
            >.button-transparent{
                background-color: transparent;
                color:$color_orange;
                border: solid 2px $color_orange;
            }
    
            h4{
                font-size: 1.9rem;
                font-weight: 400;
            }
            ul{
                list-style: none;
                font-size: 1.5rem;
                color:$color_text1;
                line-height: 2rem;
            
                li{
                    border-bottom: solid 1px rgba($color: gray, $alpha: 0.5);
                    padding: 2vh;
                }
                
            }
            h5{
                font-size: 3.5rem;
                color:$color_orange;
                font-weight: 600;
            }
            >.bottom-container{
          
               
                font-size: 1.5rem;
                line-height: 2rem;
                height: 20vh;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
     
    }

}