@import "../../styles//variables.scss";


.home-section4b-container{
    margin-top: 10vh;
    width: 100vw;
    height: 100vh;
    background-color:rgba($color: $color_orange, $alpha: 0.4);
    display: flex;
    align-items: center;
  
    
    .home-section4b-internal-container{
width: 50%;
height: 70%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

color:$color_orange;

>.text-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5%;
    h4{
        font-family: $font_titles;
        font-size: 4.5rem;
     
    }
    
    h5{
        font-size: 2.2rem;
        line-height: 3.2rem;
        font-weight: 400;
    }
    
    button{
        background-color: $color_orange;
        border: solid 2px;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 1.5%;
        width: 25%;
        color:$color_background;
        border-radius: 5px;
        border-color: transparent;
      }

}

img{
    object-fit: cover;
    height: 75%;
    max-width: 100%;

}
    }
}

@media screen and (max-width: 678px) {

    .home-section4b-container{
        margin-top: 0vh;
        height: 90vh;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        align-items: center;
        padding-top: 5vh;
    
       
      
        
        .home-section4b-internal-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
            
    align-items: center;
    justify-content: center;
    
  
    
    >.text-container{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 4vh;
        h4{
            font-family: $font_titles;
            font-size: 3rem;
         
        }
        
        h5{
            font-size: 2rem;
            line-height: 3.2rem;
            font-weight: 400;
        }
        button{
        
            border: solid 2px;
            font-size: 2rem;
            font-weight: 400;
            padding: 4%;
            width: 100%;
            color:$color_background;
            border-radius: 6px;
            border-color: transparent;
          }
    
    }
    
    img{
        object-fit: cover;
        height: fit-content;
        max-width: 65%;
  
    
    }
        }
    }

}