@import "../../styles//variables.scss";
.home-section4-container{
  width: 100vw;
  margin-top: 20vh;


  .home-section4-top-container{
    margin: 0 auto;
    text-align: center;
    width: 55%;
    h3{
      color:$color_orange;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 2%;
    }
    h4{
      font-family: $font_titles;
     
      font-size: 5rem;
      color:$color_text2;
      margin-bottom: 5%;
    }
    p{
      font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 400;
        margin-bottom: 1%;
        color:$color_text1
    }

  }

  .home-section4-plans-container{
    margin:0 auto;
    margin-top: 10vh;
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    column-gap: 5%;

    .home-section-card-container{
width: 20%;
height: 90%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

h4{
  font-size: 2.9rem;
  font-family: $font_titles;
  margin-left: 10%;
  margin-right: 10%;;
}
ul{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
h5{
  font-size: 3rem;
}
>.buttons-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 10px;
  button{
    background-color: transparent;
    border: solid 2px;
    padding: 4%;
    width: 80%;
    color:$color_background;
    border-radius: 5px;
    border-color: transparent;
    transition: 1s ease;
  }
  button:hover{
    opacity: 0.8;
    scale: 1.05;
  }
  button:active{
    filter: brightness(1.1);
   
  }
}



    }
  }

  .move-to-bottom{
    background-color: red;
    margin-top: 10vh;
    }
    
}


@media screen and (max-width: 678px) {

  .home-section4-container{
    width: 100vw;
    margin-top: 20vh;
  
  
    .home-section4-top-container{
      margin: 0 auto;
      text-align: center;
      width: 80%;

      h3{
        color:$color_orange;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 2%;
      }
      h4{
        font-family: $font_titles;
       
        font-size: 3.7rem;
        color:$color_text2;
        margin-bottom: 5%;
      }
      p{
        font-size: 1.8rem;
          line-height: 2.6rem;
          font-weight: 400;
          margin-bottom: 1%;
          color:$color_text1
      }
  
    }
  
    .home-section4-plans-container{
      margin:0 auto;
      margin-top: 10vh;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      column-gap: 5%;
      overflow-x: scroll;
  
      .home-section-card-container{
  width: 100vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  h4{
    font-size: 2.9rem;
    font-family: $font_titles;
    margin-left: 10%;
    margin-right: 10%;;
  }
  ul{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  h5{
    font-size: 3rem;
  }
  >.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 10px;
    button{
      background-color: transparent;
      border: solid 2px;
      padding: 4%;
      width: 80%;
      color:$color_background;
      border-radius: 5px;
      border-color: transparent;
    }
  }
  
  
  
      }
    }
  
    .move-to-bottom{
      background-color: red;
      margin-top: 0vh;
      }
      
  }
}