@import "../../styles//variables.scss";
.home-section2-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-section2-center-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8%;
    .image-container{
      width: 26%;
      border-top-left-radius: 50%;
        border-top-right-radius: 50%;
     
      img{
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
      }
    }

    .text-container{
     
      display: flex;
      max-width: 40%;
      justify-content: end;
      flex-direction: column;
      h3{
        color:$color_orange;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 2%;
      }
      h4{
        font-family: $font_titles;
        font-size: 3rem;
        color:$color_cyan;
        margin-bottom: 5%;
      }
      p{
        font-size: 1.5rem;
        line-height: 2.2rem;
        font-weight: 400;
        margin-bottom: 2%;
        color:$color_text1
      }
    }
  }
}


@media screen and (max-width: 678px) {
  .home-section2-container {

    height: fit-content;
    padding-top: 9vh;
    padding-bottom: 10vh;
  
    .home-section2-center-container{
      width: 100%;
      
      flex-direction: column;
      row-gap: 8vh;
      .image-container{
        width: 50%;
  
        
      }
  
      .text-container{
       
       
        max-width: 80%;
       
        h3{
          font-size: 1.6rem;
  
          margin-bottom: 2%;
          
        }
        h4{
         
          font-size: 2.6rem;
          margin-bottom: 5%;
        }
        p{
          font-size: 1.6rem;
          line-height: 2.2rem;
        }
      }
    }
  }
}

