@import "../../styles//variables.scss";

.questionary-container{

    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;
    >h2{
        font-size: 5rem;
        font-family: $font_titles;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
    }
    >h3{
        font-size: 2rem;
        font-weight: 400;
        color:$color_text1;
        text-align: center;
    }
    >button{
        width: 16%;
        height: 8%;
        background-color: $color_cyan;
        color:#ffff;
        border: none;
        border-radius: 6px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    >.button-trasparente{
        background-color: transparent;
        color:$color_cyan;
        border: none;
    }

   .result-title{
    color:$color_cyan;
    font-size: 6rem;
   }
   .result-secundaryTitle{
    color:$color_cyan;
    font-weight: lighter;
    font-size: 2.2rem;
    line-height: 3.2rem;
   }

 
}


@media screen and (max-width: 678px) {


    .questionary-container{

   
        height: 100vh;
        padding-top: 8vh;
        row-gap: 5%;
        >h2{
            font-size: 3rem;
            line-height: 4rem;
            margin-left: 10%;
            margin-right: 10%;
        }
        >h3{
            font-size: 2rem;
            margin-left: 10%;
            margin-right: 10%;
        }
        >button{
            width: 50%;
            height: 8%;
           
        }
       
       .result-title{
        color:$color_cyan;
        font-size: 5.5rem;
        line-height: 7rem;
       }
       .result-secundaryTitle{
        color:$color_cyan;
        font-weight: lighter;
        font-size: 2.2rem;
        line-height: 3.2rem;
       }
    
     
    }
}