@import "../../styles//variables.scss";

.top-bar-container{
    
    margin: 0 auto;
    margin-top: 1%;
    width: 95%;
    height: 1%;
    display: flex;
    justify-content: space-between;

    div{
        height: 100%;
        width: 8.5%;
        background-color:rgba($color: gray, $alpha: 0.3);
        border-radius: 5px;
    }

    .actual-step{
        background-color: $color_cyan;
    }
}

