@import "./variables.scss";
@import "../ui/styles/navbar";
@import "../ui/styles/sectionBreake";
@import "../ui/styles/footer";
@import "../ui//styles/shopingCart";
@import "../ui/styles//mobileNavbar";
@import "../home//styles//home1";
@import "../home//styles//home2";
@import "../home//styles//home3";
@import "../home//styles//home4";
@import "../home//styles//home4b";
@import "../home//styles//home5";
@import "../Plans//styles/plan";
@import "../Plans//styles/testResult";
@import "../questonaryTest/styles/questionaryTest";
@import "../questonaryTest/styles/questionComponent";
@import "../questonaryTest/styles/topBar";
@import "../checkout//styles/checkout";
*{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family:sans-serif;
    overflow-x: hidden;
    background-color: $color_background;
    scroll-behavior: smooth;

}

button,svg{
    cursor: pointer;
}

