//colors

$color_cyan:#4dada6;
$color_text1:#544f4f;
$color_text2:#39383f;
$color_orange:#c65921;
$color_purple:#8e54a9;
$color_green:#677e28;
$color_background:#f5f3ee;


//fonts

$font_titles:'Mackinac'